.outer-box {
  text-align: center;
  background-color: #EBCE59;
  border-style: solid;
  width: 100%;
  height: 50px;
  font-size: 150%;
  margin: 5px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
}

.details {
  width: 25%;
  height: 70%;
  border-right: 2px solid black;
}

.details:last-child {
  border-right: none;
}