<div class="outer-box">
  <div class="details">{{data.name}}</div>
  <div class="details">{{data.due_date  ? (data.due_date | date: 'MM/dd/yyyy') : 'No due date' }}</div>
  <div class="details">{{data.reward_amount}} QC</div>
  <ng-container *ngIf="!data.hasOwnProperty('coursework_id')">
    <!-- TODO: render a details button that leads to google classroom assignment -->
    <ng-container *ngIf="data.completed;else elseBlock">
      <div class="details">Completed</div>
    </ng-container>
    <ng-template #elseBlock>
      <div class=details><button (click)="turnIn()">Turn in</button></div>
    </ng-template>
  </ng-container>
</div>