#e50_290 { 
	box-shadow:4px 0px 4px rgba(44, 51, 186, 1);
	width:60px;
	height:764px;
	position:absolute;
}
#e50_195 { 
	background-color:rgba(192, 30, 26, 1);
	border:4px solid rgba(0, 0, 0, 1);
	width:60px;
	height:764px;
	position:absolute;
	left:0px;
	top:0px;
}
#e50_196 { 
	background-color:rgba(235, 81, 77, 1);
	border:4px solid rgba(0, 0, 0, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
#e50_197 { 
	color:rgba(0, 0, 0, 1);
	width:27px;
	height:54.284210205078125px;
	position:absolute;
	left:17px;
	top:3.01578950881958px;
	font-family:Poppins;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
