.page-layout {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 90%;
    max-height: 70%;
    height: auto;
}

.edit-button {
    float: right;
    margin-top: 1%;
    width: 100px;
    background-color: #5AB87A;
    border: 4px solid black;
    color: black;
}