<mat-sidenav-container>
  <mat-sidenav mode = "side" [(opened)] = "opened">
    <div class="flexbox-container-general">
      <div class="flexbox-container-top">
        <div class="container-item"><button mat-raised-button class="nav-button" (click)="openQuestDialog()">Add Quest</button></div>
        <div class="container-item"><button mat-raised-button class="nav-button" (click)="openBalanceDialog()">Manage Points</button></div>
        <div class="container-item"><button mat-raised-button class="nav-button" (click)="navigateToRequests()">Notifications</button></div>
      </div>
      <div class="flexbox-container-bottom">
        <div class="container-item"><button mat-raised-button class="nav-button">Settings</button></div>
      </div>
    </div>  
    
      
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="bar"><button class="toggle" (click) = "opened = !opened">&lt; &lt;</button></div>
  </mat-sidenav-content>
</mat-sidenav-container>