mat-sidenav-container {
	height: 100%;
}



mat-sidenav {
	background-color: #EB514D;
	border: 4px solid black;
	border-top: 0;
	width: 250px;
}

.flexbox-container-general {
	margin: auto;
	height: 95%;
	width: 220px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.flexbox-container-top {
	margin: auto;
	height: 40%;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.flexbox-container-bottom {
	margin: auto;
	height: 20%;
	width: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.container-item {
	width: 100%;
	height: 75px;
	position: relative;
}

.nav-button {
	font-size: 150%;
	color: black;
	background-color: #EECECE;
	border: 4px solid black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
	height: 100%;
	width: 100%;
}

.bar {
	background-color: #C01E1A;
	border: 4px solid black;
	border-top: 0;
	border-left: 0;
	left: 0;
	top: 0;
	height: 100%;
	width: 50px;
	box-sizing: border-box;
}

.toggle {
	background-color: #EB514D;
	border: 4px solid black;
	border-top: 0;
	border-left: 0;
	width: 50px;
	height: 50px;
	left: 0px;
	top: 0px;
}