<div class="flexbox-container">
  <div class="flexbox-subcontainer-left">
    <img src="../../../assets/img/Sample Logo.png" width=75px height=75px>
    <button mat-button class="nav-button" (click)=home()>Home</button>
    <button mat-button class="nav-button">Shop</button>
  </div>
  <div class="flexbox-subcontainer-right">
    <div class="avatar-box"><img src="../../../assets/img/Rabbit.PNG" width=75px height=75px></div>
    <p class="name-class-text">Mrs. Johnson</p>
    <button mat-button class="nav-button" (click)=logout()>Log Out</button>
  </div>
</div>
