<div class="flexbox-container">
  <div class="flexbox-subcontainer-left">
    <img src="../../../assets/img/Sample Logo.png" width=75px height=75px>
    <button mat-button class="nav-button" (click)=home()>Home</button>
    <button mat-button class="nav-button">Shop</button>
  </div>
  <div class="flexbox-subcontainer-right">
    <div class="avatar-box">
      <img [src]="questlearnUser.avatar_url" width=75px height=75px>
    </div>
    <div class="name-class">
      <div>
        <div class="name-class-text">{{user?.getBasicProfile().getName()}}</div>
        <div class="name-class-subtext" [@dataChange]="dataState" (@dataChange.done)="dataState = 'done'">{{classroom}}</div>
      </div>
    </div>
    <button mat-button class="nav-button" (click)=logout()>Log Out</button>
  </div>
</div>
