<p>landing-page works!</p>
<button (click)=logout()>logout</button>

<button (click)=getCoursework()>test button for mo</button>

<button (click)=sub()>sub</button>

<button (click)=pull()>pull</button>

<button (click)=getClassroom()>ask backend for some stuff</button>

<br>
Teacher testing functions
<br>
<button (click)=getClassrooms()>Get Teacher Classes</button>
<br>
Maureen testing: Classroom functions
<br>
<button (click)=getClassrooms2()>Import to quest document</button>
<!-- <div>user is {{user?.getBasicProfile().getEmail()}}</div> -->