<div class="page-layout">
  <div class="shop-table">
    <div class="top-container">
        <div class="search-box">
          <button class="add-button" (click)="openWindow(null, $event)">Add Classroom Reward</button>
        </div>
        <div class="info-box">
          <h2>You have {{balance}} QC in </h2>
          <mat-form-field appearance="fill">
            <mat-label>Class</mat-label>
            <mat-select>
              <mat-option *ngFor="let classroom of classrooms" [value]="classroom.value">
                {{classroom.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="bottom-container">
    <div class="tab">
      <button id="First_Button" class="tablinks" (click)="openTab($event, 'Classroom_Rewards')">Classroom Rewards</button>
      <button class="tablinks" (click)="openTab($event, 'Animals')">Animals</button>
      <button class="tablinks" (click)="openTab($event, 'Hats')">Hats</button>
      <button class="tablinks" (click)="openTab($event, 'Shirts')">Shirts</button>
      <button class="tablinks" (click)="openTab($event, 'Legs')">Legs</button>
      <button class="tablinks" (click)="openTab($event, 'Accessories_and_Seasonal_Clothes')">Accessories and Seasonal Clothes</button>
    </div>
  
    <div id="Classroom_Rewards" class="tabcontent">
        <h2>Most Popular Rewards</h2>
        <div class="tabcontent-container">
        </div>
        <h2>All Classroom Rewards</h2>
        <div class="up-button" id="up" (click)="setClassItems(-6)"></div>
        <div class="tabcontent-container">
          <button class="shop-class-button" id="display_one" (click)="openWindow(displayed_class_items[0], $event)"><h3>{{displayed_class_items[0].name}}</h3><p>{{displayed_class_items[0].price}} QC</p></button>
          <button class="shop-class-button" id="display_two" (click)="openWindow(displayed_class_items[1], $event)"><h3>{{displayed_class_items[1].name}}</h3><p>{{displayed_class_items[1].price}} QC</p></button>
          <button class="shop-class-button" id="display_three" (click)="openWindow(displayed_class_items[2], $event)"><h3>{{displayed_class_items[2].name}}</h3><p>{{displayed_class_items[2].price}} QC</p></button>
          <button class="shop-class-button" id="display_four" (click)="openWindow(displayed_class_items[3], $event)"><h3>{{displayed_class_items[3].name}}</h3><p>{{displayed_class_items[3].price}} QC</p></button>
          <button class="shop-class-button" id="display_five" (click)="openWindow(displayed_class_items[4], $event)"><h3>{{displayed_class_items[4].name}}</h3><p>{{displayed_class_items[4].price}} QC</p></button>
          <button class="shop-class-button" id="display_six" (click)="openWindow(displayed_class_items[5], $event)"><h3>{{displayed_class_items[5].name}}</h3><p>{{displayed_class_items[5].price}} QC</p></button>
        </div>
        <div class="down-button" id="down" (click)="setClassItems(6)"></div>  
      </div>
  
  <div id="Animals" class="tabcontent">
    <h2>Animals</h2>
    <div class="tabcontent-container">
      <app-shop-button-large id="Rabbit" (click)="openWindow(animals[0], $event)"></app-shop-button-large>
      <app-shop-button-large id="Dog" (click)="openWindow(animals[1], $event)"></app-shop-button-large>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>
  
  <div id="Hats" class="tabcontent">
    <h2>Hats</h2>
    <div class="tabcontent-container">
      <app-shop-button-large id="Bow" (click)="openWindow(hats[0], $event)"></app-shop-button-large>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Shirts" class="tabcontent">
    <h2>Shirts</h2>
    <div class="tabcontent-container">
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Legs" class="tabcontent">
    <h2>Legs</h2>
    <div class="tabcontent-container">
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Accessories_and_Seasonal_Clothes" class="tabcontent">
    <h2>Accessories and Seasonal Clothes</h2>
    <div class="tabcontent-container">
      <app-shop-button-large id="Santa" (click)="openWindow(accessories_seasonal[0], $event)"></app-shop-button-large>
    </div>
    <div class="tabcontent-container">
    </div>
  </div> 
</div>
</div>
<h2>Class Bank</h2>
        <div class="tabcontent-class-bank">
        <div class="progress-bar-background">
          <div class="progress-bar"></div>
        </div>
        <h2>300/500</h2>
        <h2>Pizza Party</h2>
        <button mat-raised-button class="donate-button">Donate</button>
      </div>
</div>