<div class="page-layout">
  <div class="shop-table">
    <div class="top-container">
        <div class="search-box">
          <button *ngIf="questlearnUser.user_type == 1" class="add-button" (click)="openWindow(empty_item, $event, false)">Add Classroom Reward</button>
        </div>
        <div class="info-box">
          <h2 *ngIf="classrooms.length > 0">You have {{balance}} QC in </h2>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Class</mat-label>
            <mat-select [value]="selectedClass" (selectionChange)="updateSelectedClass($event.value)">
            <!-- <mat-select (selectionChange)="setIdItems($event)"> -->
              <mat-option *ngFor="let classroom of classrooms" [value]="classroom.value">
                {{classroom.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="bottom-container">
    <div class="tab">
      <button id="First_Button" class="tablinks" (click)="openTab($event, 'Classroom_Rewards')">Classroom Rewards</button>
      <button class="tablinks" (click)="openTab($event, 'Animals')">Animals</button>
      <button class="tablinks" (click)="openTab($event, 'Hats')">Hats</button>
      <button class="tablinks" (click)="openTab($event, 'Shirts')">Shirts</button>
      <button class="tablinks" (click)="openTab($event, 'Pants')">Pants</button>
      <button class="tablinks" (click)="openTab($event, 'Accessories')">Accessories</button>
    </div>
  
    <div id="Classroom_Rewards" class="tabcontent">
        <h2>Most Popular Rewards</h2>
        <div class="tabcontent-container">
          <app-shop-button-large id="popular_one" (click)="openWindow(popular_items[0], $event, true)"></app-shop-button-large>
          <app-shop-button-large id="popular_two" (click)="openWindow(popular_items[1], $event, true)"></app-shop-button-large>
          <app-shop-button-large id="popular_three" (click)="openWindow(popular_items[2], $event, true)"></app-shop-button-large>
        </div>
        <h2>All Classroom Rewards</h2>
        <ng-container *ngIf="all_class_rewards; else loadingRewards">
          <ng-container *ngIf="finish > 0;else noRewards">
            <div class="up-button" id="up" (click)="setClassItems(-6)" [style.display]="(display_top == 0) ?  'none' :'flex'"></div>
            <div class="tabcontent-container">
              <button class="shop-class-button" id="display_one" [style.display]="'flex'" (click)="openWindow(displayed_class_items[0], $event, false)">
                <h3>{{displayed_class_items[0].name}}</h3>
                <p>{{displayed_class_items[0].price}} QC</p>
              </button>
              <button class="shop-class-button" id="display_two" [style.display]="(finish <= 1) ?  'none' : 'flex'" (click)="openWindow(displayed_class_items[1], $event, false)">
                <h3>{{displayed_class_items[1].name}}</h3>
                <p>{{displayed_class_items[1].price}} QC</p>
              </button>
              <button class="shop-class-button" id="display_three" [style.display]="(finish <= 2) ?  'none' : 'flex'" (click)="openWindow(displayed_class_items[2], $event, false)">
                <h3>{{displayed_class_items[2].name}}</h3>
                <p>{{displayed_class_items[2].price}} QC</p>
              </button>
              <button class="shop-class-button" id="display_four" [style.display]="(finish <= 3) ?  'none' : 'flex'" (click)="openWindow(displayed_class_items[3], $event, false)">
                <h3>{{displayed_class_items[3].name}}</h3>
                <p>{{displayed_class_items[3].price}} QC</p>
              </button>
              <button class="shop-class-button" id="display_five" [style.display]="(finish <= 4) ?  'none' : 'flex'" (click)="openWindow(displayed_class_items[4], $event, false)">
                <h3>{{displayed_class_items[4].name}}</h3>
                <p>{{displayed_class_items[4].price}} QC</p>
              </button>
              <button class="shop-class-button" id="display_six" [style.display]="(finish <= 5) ?  'none' : 'flex'" (click)="openWindow(displayed_class_items[5], $event, false)">
                <h3>{{displayed_class_items[5].name}}</h3>
                <p>{{displayed_class_items[5].price}} QC</p>
              </button>
            </div>
            <div class="down-button" id="down" (click)="setClassItems(6)" [style.display]="class_rewards && (display_top+6 >= class_rewards.length) ?  'none' :'flex'"></div>  
          </ng-container>
          <ng-template #noRewards>
            No Rewards :(
          </ng-template>
        </ng-container>
        <ng-template #loadingRewards>
          loading...
        </ng-template>
      </div>
  
  <div id="Animals" class="tabcontent">
    <h2>Animals</h2>
    <div class="tabcontent-container">
      <ng-container *ngFor="let item of animals">
        <app-shop-button-large [id]="item.name" [item]="item" (click)="openWindow(item, $event, true)"></app-shop-button-large>
      </ng-container>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>
  
  <div id="Hats" class="tabcontent">
    <h2>Hats</h2>
    <div class="tabcontent-container">
      <ng-container *ngFor="let item of hats">
        <app-shop-button-large [id]="item.name" [item]="item" (click)="openWindow(item, $event, true)"></app-shop-button-large>
      </ng-container>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Shirts" class="tabcontent">
    <h2>Shirts</h2>
    <div class="tabcontent-container">
      <ng-container *ngFor="let item of shirts">
        <app-shop-button-large [id]="item.name" [item]="item" (click)="openWindow(item, $event)"></app-shop-button-large>
      </ng-container>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Pants" class="tabcontent">
    <h2>Pants</h2>
    <div class="tabcontent-container">
      <ng-container *ngFor="let item of pants">
        <app-shop-button-large [id]="item.name" [item]="item" (click)="openWindow(item, $event)"></app-shop-button-large>
      </ng-container>
    </div>
    <div class="tabcontent-container">
    </div>
  </div>

  <div id="Accessories" class="tabcontent">
    <h2>Accessories</h2>
    <div class="tabcontent-container">
      <ng-container *ngFor="let item of accessories">
        <app-shop-button-large [id]="item.name" [item]="item" (click)="openWindow(item, $event, true)"></app-shop-button-large>
      </ng-container>
    </div>
    <div class="tabcontent-container">
    </div>
  </div> 
</div>
</div>
<h2>Class Bank</h2>
        <div class="tabcontent-class-bank">
        <div class="progress-bar-background">
          <div class="progress-bar" id="bar" [style.width]="(bank_balance/500 * 100) + '%'"></div>
        </div>
        <h2>{{bank_balance}}/500</h2>
        <h2>Pizza Party</h2>
        <button class="donate-button" (click)="openWindow(empty_item, $event, false)">Donate</button>
      </div>
</div>