#assignment-box {
  display: flex;
  background-color: white;
  border-style: solid;
  width: 400px;
  height: 85px;
}

#teacher-portrait {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#teacher-image {
  border-style: solid;
  border-radius: 100%;

  width: 90%;
  height: 80%;
}

#content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

#left-column {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#teacher-name {

}

#assignment-name {

}

#right-column {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}