body{
  height: 100%;
}

.page {
  background-color: #7C81EB;
  display: flex;
  height: auto;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

#header {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 35px;
}

.reward-box {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  background-color: #65EB91;
  flex-wrap: wrap;
  flex-flow: row wrap;

  overflow-y: scroll;

  max-width: 90%;
  max-height: 50%;
  min-width: 400px;

  outline-style: solid;
  outline-width: 4px;
  max-height: 60vh;
}

#reward-wrapper {

  padding-top: 1%;
  padding-bottom: 1%;
}
