<div class="page">
  <div id="wrapper" fxLayout="column">
    <div id="header" fxLayoutAlign="center">Manage Rewards</div>
    <div fxLayoutAlign="center">
      <div fxLayout="row" fxLayouAlign="space-between center" class="reward-box">
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
        <app-redeem-notif></app-redeem-notif>
      </div>
    </div>
  </div>
</div>