<div class="outer-box">
  <div class="header-row">
    <img src="https://cdn.discordapp.com/attachments/801895826883739679/837775132310503465/Dog.PNG">
    <div class="header-columns">
      <div class="row-text">
        <div id="student-name">Timmy</div>
        <div id="request-date">Requested: DATE</div>
      </div>
      <div id="reward-value">- Candy: 20 QC -</div>
      
    </div>
  </div>
  <div class="action-row">
    <button class="decline" mat-stroked-button color="warn">Decline</button>
    <button class="approve" color="warn" mat-raised-button>Approve</button>
  </div>
</div>
