.shop-button {
  width: 100%;
  background-color: white;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #287441;
}

.description {
  font-size: 16px;
}

.purchased {
  opacity: 0.3;
  cursor: default;
}
