<div id="parent">

  <div id="top">
    <div id="profile">
      <div id="portrait">
          <img id="pfp" src="https://media.discordapp.net/attachments/823615379083231264/825494496410075166/unknown.png">
      </div>
    </div>
    <div id="welcome">
      <div id="top-text">
        Welcome back, Jimmy.
        <br>
      </div>
      <div id="bottom-text">
        Hope you're having a good day
      </div>
    </div>
  </div>

  <div id="bottom">
    <div id="class-table">
      <questlearn-table [dataSource]="dataSource" [columns]="displayedColumns" [hasCount]="true" [hasBorder]="false" (open)="getRecord($event)"></questlearn-table>
    </div>
    
    <div id="right-column">
      <div id="right-header">
        Upcoming
      </div>
      <div id="upcoming">
        <app-upcoming-assignment></app-upcoming-assignment>
        <app-upcoming-assignment></app-upcoming-assignment>
        <app-upcoming-assignment></app-upcoming-assignment>
      </div>
    </div>

  </div>
  
</div>