table {
    width: 100%;
    border: 4px solid black;
}

.scrollable-table {
  background-color: #EB514D;
  height: auto;
  max-height: 100%;
  overflow: auto;
}

mat-cell, mat-header-cell {
  font-size: 32 px;
  justify-content: center;
  color: black; 
}

mat-header-row {
  background-color: #EB514D;
  border: 4px solid black;
}

mat-row {
  border: 4px solid black;
  color: black; 
  border-top: none;
}

.open-button {
  color: black;
  background-color: #c58686;
}

.mat-row:nth-child(even){
  background-color: #EECECE;
}
      
.mat-row:nth-child(odd){
  background-color: white;
}




