<div class='scrollable-table'>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!-- ID Column -->
  <ng-container matColumnDef="Open">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"><button mat-raised-button class="open-button" (click)="getRecord(element)">Open</button></mat-cell>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.ID}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Last Updated Column -->
  <ng-container matColumnDef="last_updated">
    <mat-header-cell *matHeaderCellDef> Last Updated </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.last_updated}} </mat-cell>
  </ng-container>

  <!-- Class Status Column -->
  <ng-container matColumnDef="class_status">
    <mat-header-cell *matHeaderCellDef> Class Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.class_status}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="color-change" *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>