<div id="page">
  <div id="head">
    Mrs. Johnson's Class
  </div>
  <div id="box-layout">
    <div id="outside-box">
      <div id="inside-box">
        <ng-container *ngIf="!loading && teamQuests.length > 0">
          <div class="quest-header">Team Quests</div>
          <div  [ngClass]="{'quests': true, 'quests-max': yourQuests.length == 0}">
            <ng-container *ngFor="let element of teamQuests">
              <app-quest [data]="element"></app-quest>
            </ng-container>         
          </div>
        </ng-container>
        <ng-container *ngIf="!loading && yourQuests.length > 0">
          <div class="quest-header">Your Quests</div>
          <div  [ngClass]="{'quests': true, 'quests-max': teamQuests.length == 0}">
            <ng-container *ngFor="let element of yourQuests">
              <app-quest [data]="element"></app-quest>
            </ng-container>  
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>