<div id="page">
  <div id="head">
    Mrs. Johnson's Class
  </div>
  <div id="box-layout">
    <div id="outside-box">
      <div id="inside-box">
        <div class="quest-header">Team Quests</div>
        <div class="quests">
          <ng-container *ngFor="let element of teamQuests">
            <app-quest [description]="element.description"
                       [progress]="element.progress"
                       [due_date]="element.due_date"
                       [reward]="element.reward">
            </app-quest>
          </ng-container>         
        </div>
        <div class="quest-header">Your Quests</div>
        <div class="quests">
          <ng-container *ngFor="let element of yourQuests">
            <app-quest [description]="element.description"
                       [progress]="element.progress"
                       [due_date]="element.due_date"
                       [reward]="element.reward">
            </app-quest>
          </ng-container>  
        </div>
      </div>
    </div>
  </div>
</div>