#page {
  background-color: #7C81EB;
  height: 100%;
  width: 100%;
}

#head {
  padding-top: 5%;
  font-size: 250%;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 500;
  height: 10%;
}

#box-layout {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#outside-box {
  background-color: #5AB87A;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  padding: 32px;
}

#inside-box {
  background-color: #65EB91;
  width: 100%;
  border-style: solid;
}

.quest-header {
  font-size: 150%;
  text-align: center;
  padding: 10px;
}

.quests {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 90%;
}

app-quest {
  min-width: 90%;

}

app-quest:last-child {
  min-width: 90%;
  padding-bottom: 10px;
}